body{
    background-color: #24353f;
    /* font-family: 'Titillium Web', sans-serif; */
}
.w-65{
  width: 55%;
}
.shadoow{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1{
    color: #17a2b8;
    font-weight: 400;
    font-size: 40px;
    margin: 0 0 8px;
}
input:focus{
   box-shadow: none !important;
}
a{
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
input::placeholder{
    color: #ced4da !important;
}
.home{
    height: 75vh !important;
}